@import url('https://fonts.googleapis.com/css?family=Poor+Story');

* {
  box-sizing: border-box;
}

/* .board {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 5%;
} */

.moment-title {
  font-family: system-ui, sans-serif;
  font-size: calc(1em + 7vmin);
  font-weight: 900;
  color: #ff8398;
  text-align: center;
  
  
  --x-offset: 0.0625em; 
  --y-offset: 0.0625em; 
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow: 
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color),
    
    calc(var(--x-offset) + var(--stroke))
    calc(var(--y-offset) + var(--stroke))
    0px
    var(--stroke-color);
}

/* For browsers that support spread, using the @supports feature */
@supports (text-shadow: 1px 1px 1px 1px black) {
  .moment-title {
    text-shadow:
      var(--x-offset)
      var(--y-offset)
      0px
      0px
      var(--background-color),
      
      var(--x-offset) 
      var(--y-offset)
      var(--stroke)
      0px
      var(--stroke-color);
  }
}

.moment-des {
  font-family: system-ui, sans-serif;
  font-size: calc(1em + 7vmin);
  font-weight: 900;
  color: #ff8398;
  text-align: center;
  
  
  --x-offset: 0.0625em; 
  --y-offset: 0.0625em; 
  --stroke: 0.025em;
  --background-color: white;
  --stroke-color: lightblue;

  text-shadow: 
    var(--x-offset)
    var(--y-offset)
    0px
    var(--background-color),
    
    calc(var(--x-offset) + var(--stroke))
    calc(var(--y-offset) + var(--stroke))
    0px
    var(--stroke-color);
}

/* For browsers that support spread, using the @supports feature */
@supports (text-shadow: 1px 1px 1px 1px black) {
  .moment-des {
    text-shadow:
      var(--x-offset)
      var(--y-offset)
      0px
      0px
      var(--background-color),
      
      var(--x-offset) 
      var(--y-offset)
      var(--stroke)
      0px
      var(--stroke-color);
  }
}


.wrapper {
  width: 100%;
  padding: 0 2rem;
  text-align: center;
}

.polaroid {
  background: #fff;
  padding: 1rem;
  box-shadow: 0 0.2rem 1.2rem rgba(0, 0, 0, 0.2);

}

.polaroid > img {
  max-width: 100%;
  height: auto;
  
}

.caption {
  font-family: "Titan One", sans-serif;
  color: #ffb3ba;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2em;
}

.item {
  width: 30%; /* Ensure the items take full width of their container */
  display: inline-block;
  margin-top: 2rem;
  filter: grayscale(100%);
}

.item .polaroid:before {
  /* content: ''; */
  position: absolute;
  z-index: -1;
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) {
  transform: scale(0.8, 0.8) rotate(5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+1) .polaroid:before {
  transform: rotate(6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n+2) {
  transform: scale(0.8, 0.8) rotate(-5deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+2) .polaroid:before {
  transform: rotate(-6deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.4);
}

.item:nth-of-type(4n+4) {
  transform: scale(0.8, 0.8) rotate(3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+4) .polaroid:before {
  transform: rotate(4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  right: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:nth-of-type(4n+3) {
  transform: scale(0.8, 0.8) rotate(-3deg);
  transition: all 0.35s;
}

.item:nth-of-type(4n+3) .polaroid:before {
  transform: rotate(-4deg);
  height: 20%;
  width: 47%;
  bottom: 30px;
  left: 12px;
  box-shadow: 0 2.1rem 2rem rgba(0, 0, 0, 0.3);
}

.item:hover {
  filter: none;
  transform: scale(1, 1) rotate(0deg) !important;
  transition: all 0.35s;
}

.item:hover .polaroid:before {
  /* content: ''; */
  position: absolute;
  z-index: -1;
  transform: rotate(0deg);
  height: 90%;
  width: 90%;
  bottom: 0%;
  right: 5%;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.2);
  transition: all 0.35s;
}

/* ใช้ Flexbox เพื่อจัดตำแหน่งปุ่มตรงกลาง */
.container {
  display: flex;
  justify-content: center;  /* จัดตำแหน่งในแนวนอน */
  align-items: center;      /* จัดตำแหน่งในแนวตั้ง */
  height: 100vh;            /* ทำให้ container มีความสูงเต็มหน้าจอ */
}

/* คลาสเฉพาะสำหรับ container */
.centered-button-container {
  display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
}

/* ปุ่ม */
.back-button-moment {
  padding: 15px 30px;       /* ปรับขนาดปุ่มให้ใหญ่ขึ้น */
  background-color: #ff677d;
  color: white;
  border: none;
  border-radius: 10px;      /* ปรับความโค้งมนของมุมให้ดูนุ่มขึ้น */
  cursor: pointer;
  font-size: 1.2rem;        /* ปรับขนาดฟอนต์ให้ใหญ่ขึ้น */
  transition: background-color 0.3s;
  margin-bottom: 2%;
}

.back-button-moment:hover {
  background-color: #af3d47;
}



.audio-player {
  display: none;
}
/* สำหรับ Desktop (หน้าจอใหญ่กว่า 1024px) */
@media (min-width: 1025px) {
  .board {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 รูปภาพต่อแถว */
    gap: 2rem; /* ระยะห่างระหว่างรูปภาพ */
    margin: 2rem auto; /* เพิ่มระยะด้านบน/ด้านล่าง และจัดให้อยู่กลาง */
    max-width: 1200px; /* กำหนดความกว้างสูงสุดของ container */
  }

  .item {
    width: auto; /* ใช้ขนาดอัตโนมัติ */
    margin-top: 0; /* ลบ margin-top */
  }
}


/* Media Queries for mobile and tablet */
@media (max-width: 1024px) {
  .board {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 images per row on tablets */
    gap: 1rem;
    margin: 0.5em;
  }
  .moment-title{
    font-size: 4rem;
  }
  .moment-des{
    font-size: 3rem;
  }

  .item {
    width: 100%; /* Ensure the items take up full width */
    max-width: 100%; /* Remove max-width on smaller screens */
  }
}

@media (max-width: 768px) {
  .board {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 images per row on medium screens */
    gap: 1rem;
    border-radius: 5%;
  }
  .polaroid{
    padding: 0.5rem;
  }
  .moment-des {
    font-size: 1rem;
  }

  .item {
    width: 100%; /* Full width for each image on smaller screens */
    margin-top: 1rem;
  }
  /* ใช้ Flexbox เพื่อจัดตำแหน่งปุ่มตรงกลาง */
/* คลาสเฉพาะสำหรับ container */
.centered-button-container {
  display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
}

/* ปุ่ม */
.back-button-moment {
  padding: 8px 16px;       /* ปรับขนาดปุ่มให้ใหญ่ขึ้น */
  background-color: #ff677d;
  color: white;
  border: none;
  border-radius: 10px;      /* ปรับความโค้งมนของมุมให้ดูนุ่มขึ้น */
  cursor: pointer;
  font-size: 1.2rem;        /* ปรับขนาดฟอนต์ให้ใหญ่ขึ้น */
  transition: background-color 0.3s;
  
}

.back-button-moment:hover {
  background-color: #ff4f5e;  /* เปลี่ยนสีเมื่อโฮเวอร์ */
}

}

@media (max-width: 480px) {
  .board {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 3fr)); /* ใช้ auto-fill เพื่อให้รูปยืดหยุ่น */
    gap: 0.5rem;
    margin: 1rem;
  }

  .caption {
    font-size: 0.8rem; /* Adjust font size for captions on mobile */
  }

  .moment-title {
    font-size: 2em; /* Smaller title on mobile */
  }
  .moment-des {
    font-size: 1.5em; /* Smaller title on mobile */
  }


/* คลาสเฉพาะสำหรับ container */
.centered-button-container {
  display: flex;
  justify-content: center; /* จัดกึ่งกลางแนวนอน */
}

/* ปุ่ม */
.back-button-moment {
  padding: 8px 16px;         /* ลดขนาด padding เพื่อทำให้ปุ่มเล็กลง */
  background-color: #ff677d;
  color: white;
  border: none;
  border-radius: 8px;        /* ปรับความโค้งมนของมุมให้เล็กลง */
  cursor: pointer;
  font-size: 1rem;           /* ลดขนาดฟอนต์ให้เล็กลง */
  width: 60px;              /* กำหนดความยาวปุ่ม */
  transition: background-color 0.3s;
  margin: 2%;
}

.back-button-moment:hover {
  background-color: #ff4f5e;  /* เปลี่ยนสีเมื่อโฮเวอร์ */
}

}
